h1{ 
    text-align: center;
    color: red;
  }

div{
   color: blue; 
   font-size: smaller;
   margin-left: 12%;
   margin-top: 3%;
}

p{
    font-size: smaller;
    text-align: justify;
    margin-left: 12%;
    margin-right: 12%;
}


table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height:85%;
    
}

tr {
    width: 30%;
    height: 30%;
}

img {
    width: 80%;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    
}


 }